.musashi {
    margin-top: 3%;
    display: block;
    border: black solid 2px;
    margin-bottom: 10%;
}

#texto {
    padding-top: 1%;
    font-family: fantasy;
}

#bioec {
    padding-top: 10%;
    font-family: fantasy;
}

@media (max-width: 620px) {

    .botoes {
        display: none;
    }
}