* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    height: auto;
    margin-right: auto;
    margin-left: auto;

}

.navbar {
    background: blue;
    height: 8vh;
    display: flex;


}

.navbar>ul {
    width: auto;
    display: flex;
    margin: auto;
    font-size: large;
}

.navbar>ul>li {
    list-style: none;



}

.navbar>ul>li:first-child {}

.menu {}

[class^=section] {}

.musashi {
    margin-top: 3%;
    display: block;
    border: black solid 2px;
    margin-bottom: 10%;
}

#texto {
    padding-top: 1%;
    font-family: fantasy;
}

#bioec {
    padding-top: 10%;
    font-family: fantasy;
}