<div class="banner">
  <p class="font-banner px-3">
    Este site tem propósito informativo e suas temáticas se destinam:<br />
    Às mulheres que desejam saber o que são e como denunciar os casos de
    violência contra seu gênero; <br />
    Às pessoas que estão dispostas a ter um estilo de vida mais saudável e menos
    sedentário;<br />
    Às pessoas que desejam empreender no segmento da bioeconomia ou encontrar
    soluções ecológicas para problemas do cotidiano. <br />
  </p>
  <p class="font-banner2 px-3">
    Foi construído a partir das disciplinas de Projeto Integrador e Projeto
    Social do IFCE Campus Itapipoca (2022). Para saber mais, clique em Sobre.<br>Boa leitura!
  </p>
  <div>
    <a href="/Saude" class="sobre">Sobre Nos</a>
    <a href="https://www.instagram.com/tecinformatica_2020/">
      <img src="assets/images/insta.png" alt="" class="photo-banner" />
    </a>

    <a href="mailto: informaticaifce6@gmail.com">
      <img src="assets/images/email.png" alt="" class="photo-banner" />
    </a>
  </div>
</div>
