<footer
  class="d-flex flex-wrap justify-content-between align-items-center mt-5 border-top"
>
  <div class="col-md-4 d-flex align-items-center mx-3">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <img
        src="assets/images/logo-pi22.png"
        alt="logo do projeto integrador"
        height="100px"
        width="100px"
      />
    </a>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-5">
    <p class="txtFooter">
      Agradecimentos: Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Voluptatum nisi voluptatem cumque ab maxime perspiciatis

      <br />
      Créditos: Ícones
      <a
        href="https://www.flaticon.com/free-icons/circular-economy"
        class="white-link"
        >Bioeconomia</a
      >
      ,
      <a href="https://www.flaticon.com/free-icons/forbidden" class="white-link"
        >Violência</a
      >
      ,
      <a
        href="https://www.flaticon.com/free-icons/healthcare"
        class="white-link"
        >Saúde</a
      >
    </p>
  </ul>
</footer>
