<div class="cards-buttons my-5 px-3">
  <a href="#button-text" class="card-btn" id="bio">
    <h3>
      Bioeconomia e<br />
      Empreendedorismo
    </h3>
    <img src="assets/images/circular-economy.png" height="230px" />
  </a>
  <a href="#button-text" class="card-btn" id="vio">
    <h3>
      Violência Contra<br />
      as Mulheres
    </h3>
    <img src="assets/images/stop-violence.png" height="230px" />
  </a>
  <a href="#button-text" class="card-btn" id="saud">
    <h3>
      Saúde e<br />
      Bem-estar
    </h3>
    <img src="assets/images/heartbeat.png" height="230px" />
  </a>
</div>

<div class="container button-text" id="button-text">
  <div id="bio-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
    expedita similique qui inventore! Laudantium nisi nobis inventore quia
    molestiae id maxime, autem eos, omnis pariatur eveniet aperiam incidunt
    vitae exercitationem sed deleniti atque quas voluptate consequuntur,
    reprehenderit nulla voluptate.
    <a href="/BioEconomia" class="btn btn-success w-100" >
      Bioeconomia e <br />
      Empreendedorismo
    </a>
  </div>
  <div id="vio-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque vitae fuga
    quia excepturi quaerat sapiente magni dignissimos velit non eligendi.
    <a href="/Violencia" class="btn lilas w-100"> Violência Contra<br> as Mulheres</a>

  </div>
  <div id="saud-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil optio nobis
    nesciunt commodi possimus, facilis ad quas doloribus nostrum tempora tempore
    harum asperiores! Saepe at quod molestiae recusandae adipisci illo?
    <a href="/Saude" class="btn btn-info w-100">Saúde e<br> Bem-estar</a>
  </div>
</div>
