<div class="cards-buttons my-5 px-3">
  <a href="#button-text" class="card-btn" id="bio">
    <h3>
      Bioeconomia e<br />
      Empreendedorismo
    </h3>
    <img src="assets/images/circular-economy.png" height="230px" />
  </a>
  <a href="#button-text" class="card-btn" id="vio">
    <h3>
      Violência Contra<br />
      as Mulheres
    </h3>
    <img src="assets/images/stop-violence.png" height="230px" />
  </a>
  <a href="#button-text" class="card-btn" id="saud">
    <h3>
      Saúde e<br />
      Bem-estar
    </h3>
    <img src="assets/images/heartbeat.png" height="230px" />
  </a>
</div>

<div class="container button-text" id="button-text">
  <div id="bio-text">
    <h1 class="text-center">Bioeconomia e Empreendedorismo</h1>
    O que é bioeconomia e empreendedorismo e como construir uma composteira
    simples que pode se tornar uma fonte de renda familiar
    <a href="/BioEconomia" class="btn btn-success w-100">
      Bioeconomia e <br />
      Empreendedorismo
    </a>
  </div>
  <div id="vio-text">
    <h1 class="text-center">Violência Contra as Mulheres</h1>
    Essa parte da página surgiu com o intuito de orientar mulheres que sofreram
    ou são possíveis vítimas de violência. E lecionar à elas informações
    importantes sobre como agir diante de agressões e procura de ajuda. Além
    disso, o tópico conta com um dicionário feminista, explicando conceitos
    fundamentais do movimento.
    <a href="/Violencia" class="btn lilas w-100">
      Violência Contra<br />
      as Mulheres</a
    >
  </div>
  <div id="saud-text">
    <h1 class="text-center">Saúde e Bem-Estar</h1>
    Nesta página, iremos mostrar a você as principais dúvidas sobre o tema saúde
    e suas respectivas respostas e sugestões que o ajudarão a tornar-se uma
    pessoa mais saudável.
    <a href="/Saude" class="btn btn-info w-100"
      >Saúde e<br />
      Bem-estar</a
    >
  </div>
</div>
