<nav class="navbar bg-primary align-items-center">
  <div class="container-fluid align-items-center">
    <a class="navbar-brand d-flex flex-row" href="/">
      <img
        src="assets/images/logo_if.png"
        alt=""
        width="30"
        height="30"
        class="d-inline-block align-text-top align-self-center"
      />
      <p class="m-auto mx-4 text-wrap text-center titul">
        Projeto integrador 2022
      </p>
    </a>
    <div class="d-flex flex-row bd-highlight me-3 text-center">
      <div class="btn-group botoes text-center" role="group">
        <a href="/BioEconomia" class="btn btn-success" style="font-size: 70%">
          Bioeconomia e <br />
          Empreendedorismo
        </a>
        <a href="/Violencia" class="btn btn-danger pt-2"> Violência </a>
        <a href="/Saude" class="btn btn-info pt-2">Saúde</a>
      </div>
    </div>
    <div class="d-flex flex-row bd-highlight me-3 text-center div_menu">
      <button class="menu bg-primary" id="teste_btn">
        <div></div>
        <div></div>
        <div></div>
      </button>
    </div>
  </div>
</nav>
