<nav class="navbar bg-primary align-content-between px-1">
  <a href="/" class="d-flex gap-0">
    <img
      src="assets/images/logo_if.png"
      alt=""
      
      height="70"
      class="d-inline-block align-text-top align-self-center"
    />
    <p class="my-auto text text-center titul">
      Projeto integrador 2022
    </p>
  </a>

  <div class="d-flex flex-row bd-highlight text-center">
    <div class="btn-group botoes text-center" role="group">
      <a href="/BioEconomia" class="btn btn-success" >
        Bioeconomia e <br />
        Empreendedorismo
      </a>
      <a href="/Violencia" class="btn lilas pt-2"> Violência Contra<br> as Mulheres</a>
      <a href="/Saude" class="btn btn-info pt-2">Saúde e<br> Bem-estar</a>

    </div>
  </div>

  <div class="d-flex flex-row bd-highlight me-3 text-center div_menu">
    <button class="menu bg-primary" id="teste_btn">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</nav>
