<header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 border-bottom violen-header px-3">
        <a href="/Violencia" class="d-flex align-items-center padds col-md-3 mb-2 mb-md-0 text-decoration-none hddrr" target="_blank">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <img src="assets/images/siteicon.png" class="simbicon" alt="" srcset="">
                Mulheres à luta
            </svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/Referencias" class="nav-link px-2 hddrr1" target="_blank">Referências</a></li>
        </ul>

        <div class="col-md-3 btnn">
            <a class="btua" href="https://mdh.metasix.solutions/portal/servicos/informacao?t=50&servico=234" target="_blank">Denuncie aqui!</a>
        </div>
    </header>