<header
        class="d-flex flex-wrap align-items-center justify-content-evenly mb-4 border-bottom violen-header px-3">
        <a href="/Violencia" class="d-flex align-items-center padds col-md-3 mb-2 mb-md-0 text-decoration-none hddrr" target="_blank">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                <img src="assets/images/siteicon.png" class="simbicon" alt="" srcset="">
                Mulheres à luta
            </svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 hddrr1" target="_blank">Página Inicial</a></li>
            <li><a href="/Referencias" class="nav-link px-2 hddrr1" target="_blank">Referências</a></li>
            <div class="dropdown my-auto">
                <button class="btn-violen btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Assuntos
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="/BioEconomia">Bioeconômia</a></li>
                  <li><a class="dropdown-item" href="/Saude">Sáude e Bem-estar</a></li>
                </ul>
            </div>
        </ul>

        <div class="col-md-3 btnn">
            <a class="btua" href="https://mdh.metasix.solutions/portal/servicos/informacao?t=50&servico=234" target="_blank">Denuncie aqui!</a>
        </div>
    </header>