<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Violência contra às mulheres</title>
    <link rel="icon" type="image/x-icon" href="assets/images/logo_if.png" />
    <script src="../assets/js/bundle.js"></script>
</head>

<body class="violen">
    <%- include('includes/violenHeader') %>

    <div class="glo-container">
        <h1 class="text-center">Rede de Apoio</h1>
        <br>
        <img class="w-75 mx-auto" src="assets/images/rede-de-apoio (1).png" width="700" height="550">
        <br>
        <br>

        <h4>O que fazer depois de violências contra à mulher? Em 10 passos!</h4>
<b>1. </b>Esteja sempre com números de telefone para urgência/socorro. Caso tenha
telefone, busque mantê-lo ao seu alcance. Se não houver, procure pelo telefone
público mais próximo.
<br><br>
<b>2.</b>
É recomendado ir em uma Delegacia da Mulher, mas caso não haja
uma próxima, pode ser feita em qualquer delegacia. Na cidade de
Itapipoca não há uma delegacia da mulher, mas o B.O (Boletim de
Ocorrência) pode ser feito na Delegacia Regional de Itapipoca, no seguinte endereço 
<b>Cel. Bento Alves, Fazendinha</b>. Com o telefone <b>(88) 3631-3232</b>.
<br><br>
<iframe class="justcent" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.398131791773!2d-39.58811452607196!3d-3.49490899403073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c048dd2fa2cb53%3A0x7805d808e468b3d5!2sDelegacia%20Regional%20de%20Itapipoca!5e0!3m2!1spt-PT!2sbr!4v1669900487261!5m2!1spt-PT!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
<b>3. </b>Centro de atendimento:
Em Itapipoca há o Centro de Referência da Mulher (CRAM). Um local
com o intuito de ajudar/auxiliar mulheres em situação de violência.
No endereço: 2098, Av. Anastácio Braga, Fazendinha. Com horário de funcionamento
de segunda à sexta, de 08:00 às 18:00. Os contatos são: cramitapipoca08@hotmail.com e
(88) 3631-4234.
<br><br>
<iframe class="justcent" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.383186881312!2d-39.588700485874234!3d-3.4984278430244276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c04976b63edee3%3A0x957f8a8745957ba6!2sCRAM%20de%20Itapipoca!5e0!3m2!1spt-PT!2sbr!4v1669900573371!5m2!1spt-PT!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
<b>4. </b>Denúncia digital:
Caso esteja impossibilitada de fazer a denúncia (B.O) ou não se sinta
confortável para fazê-la pessoalmente, você pode registrar sua
denúncia por via de uma delegacia eletrônica do governo do Estado do
Ceará: https://www.delegaciaeletronica.ce.gov.br/beo/del_vir_new.jsp.
Ou Ligue 180 que é um canal de atendimento criado especialmente
para lidar com casos de violência doméstica que recebe denúncias.
Verifique se há locais seguros perto de sua casa, onde você pode ficar até
conseguir ajuda: igreja, comércio, escola etc.
<br><br>
<b>5.</b> Se você estiver ferida, procure um hospital ou um posto de atendimento e
revele o que aconteceu. Se você esconder que foi vítima de violência, ninguém
vai poder ajudá-la. Hospitais localizados em Itapipoca:
<br>
<b>5.1 - </b>Hospital e Maternidade São Vicente de Paulo (24 horas).
<br>
•Rua: Urbano Teixeira Menezes;
<br>
•Bairro: Fazendinha;
<br>
•Telefone: (88) 3631-5158.
<br>
<b>5.2 -</b> Hospital Regional de Itapipoca
<br>
•Rua: Jose pinto 118;
<br>
•Bairro: Cacimbas;
<br>
•Telefone: (88) 3631-5950.
<br>
<br>
<b>6. -</b> Separe um pacote de roupas e objetos de primeira necessidade seus e das
crianças. Guarde com vizinhos ou amigos, para pegá-lo no caso de ter que
abandonar a casa.
<br><br>
<b>7 - </b>Guarde cópias de documentos importantes em local seguro: certidões de
nascimento e casamento, identidade, carteira profissional, listas de telefones,
documentos escolares etc.
<br><br>
<b>8 - </b>Tente guardar por escrito, com as datas e horários, todos os episódios de
violência física, psicológica ou sexual que você esteja sofrendo. Isso pode ser
muito útil se você quiser ajuda da polícia e da justiça.
<br><br>
<b>9 - </b>Conte sua situação para pessoas em quem você confia, como: amigos e
vizinhos. Planeje com elas um esquema de proteção e combine algumas
formas de sinalizar que você está em perigo.
<br><br>
<b>10 - </b>Se você tiver carro, mantenha cópias das chaves do carro em um local
seguro e acessível. Habitue-se a deixá-lo abastecido e na posição de saída, de
forma a evitar manobras.
    </div>

</body>

</html>