<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto Integrador 2022</title>
    <link rel="icon" type="image/x-icon" href="assets/images/logo_if.png" />
    <script src="../assets/js/bundle.js"></script>
  </head>

  <body class="bg-light">
    <%- include('includes/navbar') %> <%- include('includes/hamburgerButton') %>

    <div class="container bg-light text-center mt-5">
      <h1>Bioeconomia</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt esse
        eligendi, quis sunt architecto iure provident illo vitae temporibus
        autem facilis incidunt. Id molestias excepturi exercitationem quasi amet
        laboriosam cum earum aspernatur nesciunt inventore doloremque ducimus
        voluptatibus maiores vero ab, delectus reprehenderit esse nam ea vel
        debitis quisquam repudiandae hic. Aut quae vero error cupiditate quo
        consequuntur nam! Aspernatur repellat maxime ipsum eum sint libero
        temporibus molestias, unde dolorum ducimus necessitatibus eligendi
        corporis. Similique voluptates vitae aperiam quae nemo, alias ad qui
        necessitatibus commodi, nihil aspernatur consequatur optio perspiciatis
        laborum in pariatur quibusdam voluptatibus, labore adipisci itaque sit
        corporis facere!
      </p>
    </div>

    <br />

    <span class="placeholder col-12 verde"></span>
    <br />

    <br /><br /><br />

    <div class="container">
      <h1>Compostagem: O que é?</h1>
      <p>
        De com Oliveira et al. (2004), a compostagem é o momento em que ocorre
        uma decomposição microbiana de uma matéria orgânica. Além da
        decomposição, a matéria orgânica deve passar por outros dois processos,
        tais como a oxidação e a oxigenação. Para que o processo de compostagem
        aconteça, são necessários diversos fatores que garantam que os micróbios
        decompositores possam se desenvolver, entre eles a temperatura, umidade
        e tipos de nutrientes disponíveis. Segundo os mesmos autores podem ser
        utilizados na compostagem os restos orgânicos vegetais. Em propriedades
        agrícolas, por exemplo, encontramos diversos materiais que podem ser
        usados na compostagem. Destacamos aqui as palhas e cascas, sejam elas de
        milho, arroz ou feijão; os restolhos de cultura; serragens entre outros.
      </p>

      <p>
        Para Borba et al. (2013), a compostagem garante o aumento da fertilidade
        e a estrutura do solo, desde o desenvolvimento das hortas que vão ser
        cultivadas, até a produção completa das mesmas, sem a preocupação de
        consumir alimentos cheios de agrotóxicos. Ela ajuda não somente no
        controle dos restos de resíduos que iriam ser descartados, como
        reaproveita os nutrientes deles, também permite a decomposição dos
        alimentos e a criação de adubos, adubos esses que trazem um solo mais
        fértil.
      </p>
      <br /><br /><br /><br />
      <h1>Composteira: o que é e para que serve?</h1>
      <p>
        De acordo com o Site Sustentável (2019), as composteiras são recipientes
        onde a compostagem é guardada, elas podem ser feitas em diversos
        tamanhos e formatos. Ela precisa ser tampada para evitar o acúmulo de
        água quando chover e é aberta embaixo. A criação da composteira traz
        alguns benefícios como o adubo que pode estar sendo utilizado nas hortas
        cultivadas ou até mesmo nos jardins, onde traz a fertilidade no solo e
        pode se tornar uma fonte de renda para a família, na sua residência pode
        ser reduzido 50% do lixo que é produzido no dia a dia, e com essa
        redução minimizar as procuras por mais lixões que já estão lotados,
        também pode ajudar a conter a contaminação do solo e do ar.
      </p>
      <p>
        Para fazer a composteira funcionar, é preciso os resíduos orgânicos da
        residência e colocá-los no recipiente preparado para a compostagem. É
        necessário cobrir com folhas secas ou serragem. Para a compostagem
        receber o oxigênio é fundamental revirar a composteira durante o período
        que durar para dar resultado. E como obter um resultado mais rápido?
        Pode-se optar por uma composteira que se utilize de minhocas e em 60
        dias o húmus vai estar pronto. Já para fazer a manutenção, deve-se
        prestar atenção a temperatura do ambiente em que as minhocas preferem
        estar, que é entre 13° e 27°C, caso da temperatura ficar muito elevada
        ou abaixo do devido pode ter problemas no composto. Outra condição
        importante para a manutenção é verificar a umidade, que deve ficar por
        volta de 50%. Existe um teste bem simples para isso: pegue uma mão-cheia
        de composto e aperte-o entre as mãos, se escorrer a água significa que
        está muito úmido, se suas mãos ficarem somente úmidas quer dizer que a
        umidade está adequada para a continuação do processo na composteira.
      </p>
      <p>
        Dentro da composteira ocorre um processo em que microrganismos
        (bactérias e fungos) reagem com os resíduos orgânicos para assim dar
        origem a um húmus que, no caso, já é o produto final. Vale a pena
        ressalta que tanto a temperatura, a umidade e a aeração devem ser
        levadas em consideração para que se obtenha o produto de uma boa
        qualidade ao final do processo.
      </p>
      <br /><br /><br /><br />
      <h1>
        Composteira caseira: vantagens que esse sistema de reciclagem orgânica
        proporciona
      </h1>
      <p>
        Segundo Silia (2015), compostagem também definida como um processo de
        decomposição aeróbica e anaeróbica, ocorrendo em duas fases, a
        bioestabilização e a maturação, e é realizada em sua quase totalidade
        por processos aeróbios. Este sistema de composteira caseira,
        utilizando-se da compostagem, permite que não ocorra a formação de CH4
        (metano), que é altamente nocivo ao meio ambiente, muito mais agressivo
        que o gás carbônico em termos de aquecimento global, além de reduzir os
        resíduos destinados ao aterro, aproveitamento de matéria agrícola
        orgânica, promover a reciclagem de nutrientes, eliminação de patógenos e
        de promover a economia no tratamento de efluentes.
      </p>
      <br /><br /><br /><br />
      <h1>Composteira caseira: Como construir a sua</h1>
      <ol>
        <li>Passo: Numere as três caixas de 1 a 3.</li>
        <li>
          Passo: Na caixa de número 1, faça furos com a furadeira na parte de
          baixo e também faça pequenos furos para a entrada e saída de ar na
          lateral para o topo.
        </li>
        <li>
          Passo: Repita o processo da caixa número 1, na caixa número 2, porém,
          recorte por completo a tampa da caixa número 2.
        </li>
        <li>
          Passo: Na caixa de número 3, faça alguns furos para a entrada e saída
          de ar da mesma forma das caixas anteriores e recorte a tampa, mas,
          faça um buraco menor que o das outras caixas.
        </li>
        <li>
          Passo: Nas caixas de número 1 e 2 preencha com terra vegetal preta,
          deixando apenas um espaço para os restos de comida.
        </li>
        <li>
          Passo: Empilhe as caixas de acordo com sua ordem numérica, por
          exemplo, na parte superior a caixa número 1, no meio a caixa número 2
          e na parte inferior a caixa de número 3.
        </li>
        <li>
          Passo: Na caixa superior, adicione as minhocas californianas até elas
          estarem distribuídas por toda a caixa.
        </li>
        <li>
          Passo: Coloque os restos de comida na caixa superior (proibido
          cítricos, lacticínios, carne ou fezes). Depois forre com matéria seca
          (folhas, palha, serragem, grama, etc).
        </li>
        <li>
          Passo: Após 30 dias troque as posições da caixa número 1 e 2, ou seja,
          coloque a primeira embaixo da segunda. Após isso na caixa de número 2
          que agora está no topo, repita os passos 7° e 8°.
        </li>
        <li>
          Passo: Após a segunda caixa passar 30 dias na parte superior, troque-a
          com a caixa de número 1 e também troque as tampas. Depois disso você
          pode encontrar o adubo na caixa de número 1, já pronto para ser
          utilizado e pronto para ser retirado da caixa e também haverá chorume
          na caixa de número 3.
        </li>
      </ol>
      <br /><br /><br /><br />
      <h1>Composteira caseira: Custo dos materiais</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Materias</th>
            <th scope="col">Custo no mercado local</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">3 caixas de plástico (2,5 litros cada)</th>
            <td>R$ 15,87 cada (mercado livre)</td>
          </tr>
          <tr>
            <th scope="row">Terra vegetal preta (2,5 a 3,5 kg)</th>
            <td>R$ 5,00 (kg)(Centro de Jardinagem - Itapipoca)</td>
          </tr>
          <tr>
            <th scope="row">Minhocas californianas (100 unidades)</th>
            <td colspan="1">R$ 7,50 (kg)(Centro de Jardinagem - Itapipoca)</td>
          </tr>
        </tbody>
      </table>
      <br /><br /><br /><br />

      <h1>Referências:</h1>
      <p>
        FERREIRA, A. G., BORBA, S. N. de S., & WIZNIEWSKY, J. G. A prática da
        compostagem para a adubação orgânica pelos agricultores familiares de
        Santa Rosa/RS. Revista Eletrônica do curso de direito da UFSM, v. 8, p.
        307–317. 2013.
      </p>
      <p>
        OLIVEIRA, Francisco Nelsieudes Sombra; FILHO, Hermínio José Moreira;
        CAJAZEIRA, João Paulo. Uso da Compostagem em Sistemas Agrícolas
        Orgânicos. Fortaleza: Embrapa Agroindústria Tropical, 2014. 17p.
        (Embrapa Agroindústria Tropical. Documentos, 89).
      </p>
      <p>
        Site Sustentável. Composteira: o que é? Para que serve? 2019. Disponível
        em:
        <a
          href="https://sitesustentavel.com.br/composteira-o-que-e-para-que-serve/."
          >https://sitesustentavel.com.br/composteira-o-que-e-para-que-serve/.</a
        >
        Acesso em: 20 set. 2022.
      </p>
      <p>
        SILIA,H.N. Estudos sobre compostagem com lodo de ETE com vistas à
        aplicação em solo agrícola. Santo André, 2015. Disponível em:
        <a
          href="https://www.researchgate.net/profile/Hugo_Silia/publication/311382687_Estudos_sobre_compostagem_com_lodo_de_ETE_com_vistas_a_aplicacao_em_solo_agricola/links/58439bd108ae8e63e62"
          ><p>
            https://www.researchgate.net/profile/Hugo_Silia/publication/311382687_Estudos_sobre_compostagem_com_lodo_<br />de_ETE_com_vistas_a_aplicacao_em_solo_agricola/links/58439bd108ae8e63e62
          </p></a
        >
        3ceff/Estudos-sobre-compostagem-com-lodo-de-ETE-com-vistas-a-aplicacao-em-solo-agricola.pdf>
        Acesso em: 20 set. 2022.
      </p>
      <p>
        Como montar uma composteira caseira? Disponível em:
        <a
          href="https://super.abril.com.br/sociedade/manual-como-montar-uma-composteira-caseira"
          >https://super.abril.com.br/sociedade/manual-como-montar-uma-composteira-caseira</a
        >
        Acesso em: 10 out. 2022. ‌
      </p>
    </div>
    <br /><br />
    <%- include('includes/bottomBar') %>
  </body>
</html>
