<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Violência contra às mulheres</title>
    <link rel="icon" type="image/x-icon" href="assets/images/logo_if.png" />
    <script src="../assets/js/bundle.js"></script>
</head>

<body class="violen">
    <%- include('includes/violenHeader') %>

    <div class="glo-container">
        <h1 class="center">Glossário</h1>
        <br>
        <h4>Conceitos Iniciais</h4>
        <p>
            <b>Feminismos</b>
            Falamos de feminismos, no plural, pois há uma diversidade de mulheres que demandam pautas específicas.
            <br>
            <b>Machismo:</b>
            Machismo, uma ideia de que existe diferença de homens a mulheres, fazendo deles grupos de indivíduos totalmente distintos, na qual os homens são superiores.
            <br>
            <b>Patriarcado:</b>
            A dominação masculina e o poder dos homens sobre as mulheres, caracterizado não
            apenas no âmbito doméstico. Sistema pelo qual classifica as mulheres como
            inferiores, assim mantidas subordinadas ao homem de várias maneiras e em
            diversos espaços sociais.
            <br>
            <b>Sexismo:</b>
            O ato ação de discriminação e objetificação sexual, reduzindo alguém ou um grupo
            apenas pelo gênero ou orientação sexual.
            <br>
            <b>Misoginia:</b>
            Sentimento de repugnância, ódio contra as mulheres. Esta forma de aversão à
            mulher é centrada em uma visão sexista, que coloca a mulher em uma relação de
            dependência e/ou subordinação ao homem. Desprezo/ódio esses muitas vezes que
            se dirige às mulheres como violência, contra elas.
            <br>
            <b>Cultura do Estupro:</b> 
            Comportamentos sutis ou explícitos que silenciam ou relativizam a violência sexual
            contra a mulher. A palavra “cultura” no termo “cultura do estupro” reforça a ideia de
            que esses comportamentos não podem ser interpretados como normais ou naturais;
            estão na estrutura da sociedade.
            <br>
            <b>Feminicídio:</b>
            É o assassinato de uma mulher por questões de gênero, quando a vítima é mulher e
            quando o crime conter violência doméstica e familiar ou desprezo ou discriminação
            à condição de mulher

        </p>
        <br>
        <h4>1.Violência psicológicas e como as mulheres são atravessadas.</h4>
        <p>
            <b>1.1 - Mansplaining:</b>
            Palavra originada da junção man (homem) + splaining (derivado do verbo explain -
            explicar). É uma ação característica quando homens explicam coisas óbvias, assim
            desvalorizando as mulheres, quanto a sua capacidade intelectual.
            <br>
            <b>1.2 - Manterrupting:</b>
            O termo é um neologismo da língua inglesa composto por man (homem) e
            interrupting (interrupção). Tradução livre de "homem interrompendo". Essa ação
            acontece quando homens interrompem falas de mulheres por duvidar
            intelectualmente dos argumentos postos por elas.
            <br>
            <b>1.3 - Manspreading:</b>
            Termo popularizando em 2013, graças ao tumblr (“meu taking tao much space on
            the train" ("homens ocupando muito espaço no metrô"). Configura-se como uma
            prática na qual homens se sentam com as pernas abertas, principalmente no
            transporte público, deixando as pessoas ao lado com menos espaço de assento.
            <br>
            <b>1.4 - Slutshaming:</b>
            Do inglês, slut, gíria para se referir a mulher que é prostituta e shaming, de shame,
            verbo que significa "envergonhar, causar vergonha". Na prática é uma forma de
            classificar as mulheres quando se comportam fora de um modelo considerado
            aceitável pela sociedade tradicional: à forma de vestir, de se comportar e às
            manifestações sexuais.
            <br>
            <b>1.5 - Bropriating:</b> 
            O termo é composto por "bro" (de brother, irmão) e "appropriating" (apropriação).
            (Obs: Tradução/significado sempre no começo).
            Essa ação vai além de manterrupting, pois além de interromper mulheres, os
            homens tornam para si suas ideias, sem dar a elas os devidos créditos
            (apagamento social e intelectual feminino).
            <br>
            <b>1.6 - Gaslighting (Manipulação):</b> 
            Acontece quando o homem contradiz e duvida da capacidade mental da mulher e a
            designa como sendo 'louca' e/ou 'maluca', causando uma manipulação psicológica,
            fazendo com que a vítima se questione de sua memória e até da sua sanidade
            mental.
            </p>
        <br>
        <h4>2.Atualizando o gênero</h4>
        <p>
            <b>2.1 - Objetificação:</b> 
            É estruturada em uma cultura que enxerga as mulheres como objetos, seja de
            beleza ou de prazer, desumanizando-as e as obrigando a assumir papéis de
            submissão ao olhar masculino.
            <br>
            <b>2.2 - Interseccionalidade:</b>
            É um conceito sociológico interessado nas interações e marcadores sociais nas
            vidas das minorias. Por ele é possível enxergar que em nossa sociedade existem
            vários sistemas de opressão – as de gênero, raça, etnia, classe social, capacidade
            física, localização geográfica, entre outras.
            <br>
            <b>2.3 - Empoderamento:</b>
            Diz respeito a incentivar cada mulher a encontrar dentro de si o seu poder,
            reconhecendo e fortalecendo o papel individual das mulheres na sociedade.
            <br>
            <b>2.4 - Empatia:</b>
            É a capacidade psicológica de sentir o que sentiria outra pessoa, caso estivesse na mesma situação vivenciada por ela. É tentar compreender sentimentos e emoções, procurando experimentar o que sente outro indivíduo.
            <br>
            <b>2.5 - Lugar de fala:</b>
            O conceito remete ao local de fala do enunciador, qual a sua realidade social, financeira e pessoal ao proferir um discurso sobre determinado tema.
            <br>
            <b>2.6 - Equidade:</b>
            Proporcionar acessos diferentes para garantir que todos tenham as mesmas oportunidades.
            <br>
            <b>2.7 - Sororidade:</b>
            É um conceito sobre empatia, solidariedade e acolhimento entre mulheres.
            <br>
            <b>2.8 - Dororidade:</b>
            Trata das dores sofridas pelas mulheres pretas por conta do machismo, Sempre que
            uma mulher negra acolhe a outra, isso é dororidade.
        </p>
        <br>

        <h4>3.Tipos de Violência</h4>
        <p>
            <b>Violência física:</b> 
            Conduta que ofende a integridade ou saúde corporal.
            <br>


            <b>Violência psicológica:</b> 
            Conduta que cause dano emocional e diminuição da autoestima ou que prejudique e perturbe o pleno desenvolvimento ou que vise degradar ou controlar ações, comportamentos, crenças e decisões, mediante ameaça, constrangimento, humilhação, manipulação, isolamento, vigilância constante, perseguição contumaz, insulto, chantagem, ridicularização, exploração e limitação do direito de ir e vir ou qualquer outro meio que lhe cause prejuízo à saúde psicológica e à autodeterminação.
            <br>

            <b>Violência sexual:</b> 
            Conduta que constranja a presenciar, a manter ou a participar de relação sexual não desejada, mediante intimidação, ameaça, coação ou uso da força; que induza a comercializar ou a utilizar, de qualquer modo, a sua sexualidade, que a impeça de usar qualquer método contraceptivo ou que a force ao matrimônio, à gravidez, ao aborto ou à prostituição, mediante coação, chantagem, suborno ou manipulação; ou que limite ou anule o exercício de seus direitos sexuais e reprodutivos.
            <br>

            <b>Violência patrimonial:</b>
            Conduta que configure retenção, subtração, destruição parcial ou total de objetos, instrumentos de trabalho, documentos pessoais, bens, valores e direitos ou recursos econômicos, incluindo os destinados a satisfazer suas necessidades.
            <br>

            <b>Violência moral:</b> 
            Conduta que configure calúnia, difamação ou injúria.
            <br>
        </p>
    </div>

</body>

</html>