<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/images/logo_if.png" />
    <title>Violência contra às mulheres</title>
    <script src="../assets/js/bundle.js"></script>
</head>

<body class="violen">
    <%- include('includes/violenHeader') %>

    <div class="glo-container">
        <h1 class="text-center">Infográficos</h1>
        <br>
        <h4>Homicídios entre mulheres negras e brancas</h4>
        <div class="text-center">
            <img src="assets/images/infograficos/bnev.png" alt="img" srcset="" class="img">
        </div>
        <br>
        <h4>Razões de desigualdade de gênero na prática das mortes violentas das mulheres</h4>
        <div class="text-center">
            <img src="assets/images/infograficos/rdgnr.png" alt="img" srcset="" class="img">
        </div>
        <br>
        <h4>Mulheres negras e violência no Brasil</h4>
        <div class="text-center">
            <img src="assets/images/infograficos/mlhngsvio.png" width="900px" height="400px" alt="img" srcset="" class="img">
        </div>
        <br>
        <h4>Cronograma da Violência</h4>
        <div class="text-center">
            <img src="assets/images/infograficos/crngvio.png" width="500px" height="500px" alt="img" srcset="" class="img">
        </div>
        <br>
        <h4>Formas de Violência</h4>
        <div class="text-center">
            <img src="assets/images/infograficos/formas-vio.png" width="600px" height="400px" alt="img" srcset="" class="img">
        </div>
        <br>
        <h4>Atitude das mulheres</h4>
        <div class="text-center">
            <img src="assets/images/infograficos/atdd.png" width="400px" height="600px" alt="img" srcset="" class="img"> 
        </div>
        <br>
        <h4>Percepção das pessoas</h4>
        <div class="text-center">
            <img src="assets/images/infograficos/percep.png" width="700px" height="400px" alt="img" srcset="" class="img"> 
        </div>
        <br>
        <h4>Assédio</h4>
        <div class="text-center">
            <img src="assets/images/infograficos/assds.png" width="700px" height="400px" alt="img" srcset="" class="img">
        </div>
        <br>
    </div>

</body>

</html>