<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="assets/images/logo_if.png" />
    <title>Violência contra às mulheres</title>
    <script src="../assets/js/bundle.js"></script>
</head>

<body class="violen">
    <%- include('includes/violenHeader') %>

    <div class="glo-container">
        <h1 class="center">Referências</h1>
        <br>
        
Mansplaining. Revista Marie Claire, 2021. Disponível em: <a href="https://www.google.com/amp/s/revistamarieclaire.globo.com/amp/Feminismo/Assedio/noticia/2021/10/mansplaining-tentativa-de-explicar-mulheres-o-que-elas-ja-sabem.html">https://www.google.com/amp/s/revistamarieclaire.globo.com/amp/Feminismo/Assedio/noticia/2021/10/mansplaining-tentativa-de-explicar-mulheres-o-que-elas-ja-sabem.html</a> Acesso em: 26 de setembro, 2022.
<br><br>

"Qual é o significado de manterrupting?". Educa mais Brasil, 2022. Disponível em: <a href="https://www.educamaisbrasil.com.br/educacao/noticias/qual-e-o-significado-de-manterrupting">https://www.educamaisbrasil.com.br/educacao/noticias/qual-e-o-significado-de-manterrupting</a>. Acesso em: 26 de setembro, 2022.
<br><br>

"O que é manspreading?". Hypeness, 2018. Disponível em: <a href="https://www.hypeness.com.br/2018/09/esta-heroina-decidiu-punir-o-manspreading-no-metro-jogando-agua-nos-homens/#:~:text=O%20que%20%C3%A9%20manspreading%3F,de%20menspreading%20ou%20man%2Dsitting">https://www.hypeness.com.br/2018/09/esta-heroina-decidiu-punir-o-manspreading-no-metro-jogando-agua-nos-homens/#:~:text=O%20que%20%C3%A9%20manspreading%3F,de%20menspreading%20ou%20man%2Dsitting</a> Acesso em: 26 de setembro, 2022.
<br><br>

Slut-Shaming: você pode ser uma vítima sem saber. Mundo Psicólogos, 2017. Disponível em: <a href="https://br.mundopsicologos.com/artigos/slut-shaming-voce-pode-ser-uma-vitima-sem-saber">https://br.mundopsicologos.com/artigos/slut-shaming-voce-pode-ser-uma-vitima-sem-saber</a> Acesso em: 26 de setembro, 2022.
<br><br>

Bropriating. Dicas de mulher, 2022. Disponível em: <a href="https://www.dicasdemulher.com.br/bropriating">https://www.dicasdemulher.com.br/bropriating</a>. Acesso em: 26 de setembro, 2022.
<br><br>

Gaslighting. UOL. Disponível em:
<a href="https://www.google.com/amp/s/www.uol.com.br/vivabem/noticias/redacao/2021/01/28/gaslighting-como-identificar-a-manipulacao-psicologica-em-relacionamentos.amp.htm">https://www.google.com/amp/s/www.uol.com.br/vivabem/noticias/redacao/2021/01/28/gaslighting-como-identificar-a-manipulacao-psicologica-em-relacionamentos.amp.htm</a> Acesso em: 26 de setembro, 2022.
<br><br>

Qual é o seu feminismo? Conheça as principais vertentes do movimento. Portal Geledés, 2015. Disponível em: <a href="https://www.geledes.org.br/qual-e-o-seu-feminismo-conheca-as-principais-vertentes-do-movimento/">https://www.geledes.org.br/qual-e-o-seu-feminismo-conheca-as-principais-vertentes-do-movimento/</a> Acesso em: 14 de novembro, 2022.
<br><br>

O que significa machismo? Entenda o conceito e evite replicá-lo. UOL, 2021. Disponível em: <a href="https://www.google.com/amp/s/www.uol.com.br/ecoa/ultimas-noticias/2021/04/06/o-que-significa-machismo-entenda-o-conceito-e-evite-replica-lo.amp.htm">https://www.google.com/amp/s/www.uol.com.br/ecoa/ultimas-noticias/2021/04/06/o-que-significa-machismo-entenda-o-conceito-e-evite-replica-lo.amp.htm</a> Acesso em: 08 de outubro, 2022.
<br><br>

Palavra machismo. Origem da Palavra, 2013. Disponível em:
<a href="https://origemdapalavra.com.br/palavras/machismo/#:~:text=Resposta%3A,ser%20pertencente%20ao%20g%C3%AAnero%20masculino%E2%80%9D">https://origemdapalavra.com.br/palavras/machismo/#:~:text=Resposta%3A,ser%20pertencente%20ao%20g%C3%AAnero%20masculino%E2%80%9D</a>. Acesso em: 08 de outubro, 2022.
<br><br>

O que é o Patriarcado. Significados, 2007. Disponível em: <a href="https://www.significados.com.br/patriarcado/">https://www.significados.com.br/patriarcado/</a>. Acesso em: 08 de outubro, 2022.
<br><br>

O que é Sexismo. Significados. Disponível em: <a href="https://www.significados.com.br/sexismo/">https://www.significados.com.br/sexismo/</a>. Acesso em: 08 de outubro, 2022.
<br><br>

Misoginia. Significados. Disponível em: 
<a href="https://www.significados.com.br/misoginia/">https://www.significados.com.br/misoginia/</a>. Acesso em: 08 de outubro, 2022.
<br><br>

"O que é cultura do estupro?". Significados. 2016. Disponível em: <a href="https://guiadoestudante.abril.com.br/coluna/atualidades-vestibular/o-que-e-cultura-do-estupro/">https://guiadoestudante.abril.com.br/coluna/atualidades-vestibular/o-que-e-cultura-do-estupro/</a>. Acesso em: 08 de outubro, 2022.
<br><br>

Violência não se limita à agressão física. SERPRO. Disponível em: <a href="https://www.serpro.gov.br/menu/noticias/noticias-2018/violencia-nao-se-limita-a-agressao-fisica">https://www.serpro.gov.br/menu/noticias/noticias-2018/violencia-nao-se-limita-a-agressao-fisica</a>. Acesso em: 08 de novembro, 2022.
<br><br>

Feminicídio. NÃO SE CALE. Disponível em:
<a href="https://www.naosecale.ms.gov.br/feminicidio/">https://www.naosecale.ms.gov.br/feminicidio/</a>. Acesso em: 09 de outubro de 2022.
<br><br>

Objetificação da mulher: uma cultura que precisa morrer. Dicas de Mulher. Disponível em: <a href="https://www.dicasdemulher.com.br/objetificacao-da-mulher/">https://www.dicasdemulher.com.br/objetificacao-da-mulher/</a>
.Acesso em: 09 de outubro de 2022.
<br><br>

Como a cultura da objetificação feminina nasceu?. Linus. Disponível em:
<a href="https://uselinus.com.br/blogs/li-na-linus/objetificacao-feminina#:~:text=A%20objetifica%C3%A7%C3%A3o%20feminina%20desumaniza%20a,diversas%20conquistas%20e%20avan%C3%A7os%20sociais">https://uselinus.com.br/blogs/li-na-linus/objetificacao-feminina#:~:text=A%20objetifica%C3%A7%C3%A3o%20feminina%20desumaniza%20a,diversas%20conquistas%20e%20avan%C3%A7os%20sociais</a> Acesso em: 09 de outubro de 2022.
<br><br>

O que é interseccionalidade?. Politize!. Disponível em:
<a href="https://www.politize.com.br/interseccionalidade-o-que-e/">https://www.politize.com.br/interseccionalidade-o-que-e/</a>
.Acesso em: 09 de outubro de 2022.
<br><br>

Empoderamento feminino: princípios básicos para aplicá-lo no dia a dia. Dicas de Mulher. Disponível em:
<a href="https://www.dicasdemulher.com.br/empoderamento-feminino/">https://www.dicasdemulher.com.br/empoderamento-feminino/</a>
. Acesso em: 09 de outubro de 2022.
<br><br>

Empatia. Michaelis On-line. Disponível em: <a href="https://michaelis.uol.com.br/palavra/Oaje/empatia/">https://michaelis.uol.com.br/palavra/Oaje/empatia/</a>
Acesso em: 09 de outubro de 2022.
<br><br>

SOARES, Bárbara. Enfrentando a Violência contra a Mulher. Brasília: Secretaria
Especial de Políticas para as Mulheres, 2005.
<br><br>

Acesse: "Centro de Referência da Mulher em Itapipoca''. Mulher segura. 2021.
Disponível em: <a href="https://mulhersegura.org/preciso-de-ajuda/centro-de-referencia-da-mulher-em-itapipoca">https://mulhersegura.org/preciso-de-ajuda/centro-de-referencia-da-mulher-em-itapipoca</a> 
<br><br>

<a href="https://forumseguranca.org.br/wp-content/uploads/2021/06/infografico-visivel-e-invisivel-3ed-2021-v3-3.pdf">https://forumseguranca.org.br/wp-content/uploads/2021/06/infografico-visivel-e-invisivel-3ed-2021-v3-3.pdf</a>
<br><br>

    </div>


    
</body>

</html>