<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto Integrador 2022</title>
    <link rel="icon" type="image/x-icon" href="assets/images/logo_if.png" />
    <script src="../assets/js/bundle.js"></script>
  </head>

  <body class="bg-light">
    <%- include('includes/navbar') %> <%- include('includes/hamburgerButton') %>

    <div class="container bg-light text-center mt-5">
      <div class="row">
        <h1>Saúde</h1>
        <p>
          Nesta página, iremos mostrar a você as principais dúvidas sobre o tema
          saúde e suas respectivas respostas e sugestões que o ajudarão a
          tornar-se uma pessoa mais saudável; essas dúvidas serão explicadas por
          infográficos dedicados a cada tópico e têm, como principal objeto de
          estudo, o sedentarismo, pois é o estilo de vida sedentário que mais
          prejudica a saúde das pessoas atualmente. Também mostraremos a você
          formas de evitá-lo, a promover uma ruptura a partir de exercícios
          fáceis, práticos e que poderão ser executados em casa. Tudo isso na
          nossa página sobre saúde.
        </p>
      </div>
    </div>

    <br />

    <span class="placeholder col-12 bg-info"></span>

    <br />

    <div class="container bg-light text-center mt-5">
      <br /><br />

      <h2 class="esquerda">1. O que é saúde? Como saber se sou saudável?</h2>

      <br />

      <img src="assets/images/infograficoUm.jpeg" alt="Definicao de Saude" class="img" />

      <br /><br /><br /><br />

      <h2 class="esquerda">2. O que é um estilo de vida sedentário?</h2>

      <br />

      <img
        src="assets/images/infograficoDois.jpeg"
        alt="Definicao de Estilo de Vida Sedentario"
        class="img"
      />

      <br /><br /><br /><br />

      <h2 class="esquerda">
        3. Por que não consigo permanecer praticando um exercício por muito
        tempo?
      </h2>

      <p class="esquerda">
        A problemática de não gostar de praticar exercícios e não conseguir
        pratica-los por muito tempo é uma queixa que muito se ouve ou se fala,
        ja que cada vez mais os exercícios estão presentes no nosso dia a dia. A
        falta de permanência na prática de exercícios se dá por conta que o
        praticante não busca fazer exercícios que ele goste, muitas vezes por
        nem ele mesmo saber de qual gosta e acabam fazendo exercícios que outros
        recomendam, até começam a se exercitar mas não sentem prazer na prática
        e logo à abandonam. Dessa forma é notável que é necessário encontrar uma
        prática que traga prazer aquele que à faz, pra isso existem duas tabelas
        com escalas, que auxiliam a autoavaliação do praticante com o exercício,
        uma para saber o quanto de esforço ele fez e outra para saber o quanto
        de prazer ele sentiu com a prática. 
      </p>

      <br />

      <button id="Audio" class="btn btn-danger">
        Explicação das tabelas em Áudio
      </button>

      <img
        src="assets/images/Tres-Permanencia.jpg"
        alt="Permanencia e Prazer com Exercicios Fisicos"
        class="img"
      />

      <br /><br /><br /><br />

      <h2 class="esquerda">4. Como interromper o comportamento sedentário?</h2>

      <p class="esquerda"></p>

      <br />

      <img
        src="assets/images/infograficoTres.jpeg"
        alt="Como interromper o comportamento sedentario?"
        class="img"
      />

      <div class="container">
        <div id="MENU" class="d-flex justify-content-center" class="row">
          <div class="col">
            <div id="menuTreino" class="row">
              <h3 class="centro">Sistema de Treino</h3>
              <p class="centro"></p>
              <h4>O sistema de treino funciona da seguinte forma:</h4>

              <p class="centro"></p>

              <h5>
                São sorteados em ordem aleatória oito exercícios livres, sem
                equipamentos. Existem dois botões, o "Começar treino" serve para
                iniciar a preparação e posteriormente o exercício. O segundo
                botão "Mudar tempo de treino", serve para modificar o periodo de
                preparação/descanso e o tempo de prática do treino em si.
              </h5>

              <h1 id="menuTempo" class="d-flex justify-content-center">
                TEMPORIZADOR
              </h1>
              <div class="d-flex justify-content-center">
                <h1 id="tempo"></h1>
              </div>
              <div id="Titulo" class="d-flex justify-content-center"></div>
              <div id="treino" class="d-flex justify-content-center"></div>
            </div>
            <div id="divBtn" class="d-flex justify-content-center">
              <button
                id="btniniciar"
                type="button"
                class="btn btn-success"
              >
                Começar Treino
              </button>
            </div>
            <div class="d-flex justify-content-center">
              <div class="dropMenu">
                <button class="btn btn-danger" id="Drop">
                  Mudar tempo de treino
                </button>
                <div id="dropItens" class="close"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('includes/bottomBar') %>
  </body>
</html>
