<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto Integrador 2022</title>
    <link rel="icon" type="image/x-icon" href="assets/images/logo_if.png" />
  </head>

  <body class="bg-light">
    <nav class="navbar bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand d-flex flex-row text-truncate" href="/">
          <img
            src="assets/images/logo_if.png"
            alt=""
            width="30"
            height="30"
            class="d-inline-block align-text-top"
          />
          <p class="m-auto mx-4 text-wrap text-center titul">
            Projeto integrador 2022
          </p>
        </a>
        <div class="d-flex flex-row bd-highlight me-3 text-center">
          <div class="btn-group botoes" role="group">
            <a
              href="/BioEconomia"
              class="btn btn-success"
              style="font-size: 70%"
            >
              Bioeconomia e <br />
              Empreendedorismo
            </a>
            <a href="/Violencia" class="btn btn-danger pt-2"> Violência </a>
            <a href="/Saude" class="btn btn-info pt-2">Saúde</a>
          </div>
        </div>
        <div class="d-flex flex-row bd-highlight me-3 text-center div_menu">
          <button class="menu bg-primary" id="teste_btn">
            <div></div>
            <div></div>
            <div></div>
          </button>
        </div>
      </div>
    </nav>

    <div class="card text-center bg-primary cardao position-absolute">
      <div class="card-body">
        <a href="/Bioeconomia" class="btn btn-success men">
          Bioeconomia e Empreendedorismo
        </a>
        <a href="/Violencia" class="btn btn-danger men"> Violência </a>
        <a href="/Saude" class="btn btn-info men">Saúde</a>
      </div>
    </div>

    <div class="container bg-light text-center mt-5">
      <div class="row">
        <h1>Saúde</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione
          officiis aliquam recusandae error nesciunt, eos, amet nobis nostrum
          vero ipsa iste. Quisquam dicta itaque officia est? Ullam recusandae
          officiis molestiae explicabo odio nisi rem magnam necessitatibus ad
          dicta qui iure repellendus similique vero sequi error, accusamus rerum
          corrupti, facere, dignissimos distinctio ab sapiente harum aliquam.
          Itaque deleniti doloribus iste esse repellendus necessitatibus rerum
          fugiat soluta iure velit ab, libero magnam ipsum magni id voluptas
          fuga nisi! Eum quod odio temporibus ea sequi quos aliquid enim.
          Officiis eveniet, dicta quae exercitationem, doloribus, ea temporibus
          nobis placeat laborum sapiente aperiam mollitia amet!
        </p>
      </div>
    </div>

    <br />

    <span class="placeholder col-12 bg-info"></span>

    <br />

    <div class="container bg-light text-center mt-5">
      <br /><br />

      <h2 class="esquerda">1. O que é saúde? Como saber se sou saudável?</h2>

      <p class="esquerda">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores quia
        amet exercitationem quo ea. Natus voluptatum ex similique dolor omnis
        veritatis aperiam dolores soluta mollitia est. Assumenda culpa voluptas
        modi.
      </p>

      <br />

      <img src="assets/images/saude-def.jpg" alt="" width="30%" height="30%" />

      <br /><br /><br />

      <h2 class="esquerda">2. O que é um estilo de vida sedentário?</h2>

      <p class="esquerda">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab vel dicta
        sunt iusto qui, fuga saepe esse laudantium reprehenderit itaque quidem.
        Aspernatur quam fuga, itaque cum ab dicta aliquam architecto. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Reiciendis explicabo
        dolorem iure commodi. Eveniet voluptates perferendis incidunt earum ab
        quo quos. Doloribus ex porro at aspernatur harum, fugit dolor maxime?
      </p>

      <br /><br /><br />

      <h2 class="esquerda">
        3. Por que não consigo permanecer praticando um exercício por muito
        tempo?
      </h2>

      <p class="esquerda">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor impedit,
        saepe autem neque vel nostrum rerum quos sequi eveniet enim voluptas!
        Libero minus reprehenderit maxime, quisquam ipsa aperiam nesciunt
        labore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Architecto asperiores dolor aspernatur inventore perspiciatis temporibus
        reiciendis esse itaque! Voluptatum eligendi culpa eveniet ipsum nostrum
        aperiam aspernatur cupiditate laboriosam expedita labore.
      </p>

      <br />

      <img
        src="assets/images/escala-esforco.png"
        alt=""
        width="30%"
        height="30%"
      />

      <br /><br /><br />

      <h2 class="esquerda">4. Como interromper o comportamento sedentário?</h2>

      <p class="esquerda">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque maiores
        ipsam incidunt eius ducimus ex vel praesentium tempore labore molestiae
        vero laudantium at, provident laborum. Sit iure accusantium voluptate
        perspiciatis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Rerum autem quisquam cumque iure inventore maxime aliquam exercitationem
        atque harum voluptatibus blanditiis quae, velit veritatis beatae quam,
        ab temporibus, reiciendis labore? Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Consequuntur repellendus voluptatem suscipit commodi
        veritatis earum dignissimos fuga atque iste cumque vitae, inventore
        blanditiis excepturi culpa, veniam quidem in. Alias, at.
      </p>

      <br />

      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img
              src="assets/images/ex-cadeira.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Exercício na cadeira</h5>
              <p>[1] Para realizar este exercício, consulte a lista abaixo.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img
              src="assets/images/ex-cadeira-2.jpg"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Segundo exercício na cadeira</h5>
              <p>[2] Para realizar este exercício, consulte a lista abaixo.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>
                Some representative placeholder content for the third slide.
              </p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <br /><br />

      <ol class="esquerda">
        <li>
          Exercício na cadeira: Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Dolores tempora maxime cumque adipisci. Repudiandae
          voluptate eveniet magnam pariatur consectetur quo non. Facere neque,
          dolorum voluptas repellat tempore harum modi dicta.
        </li>
        <li>
          Exercício 2: Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Provident architecto eaque tenetur iste assumenda ab at sed molestias
          quod ratione, eos possimus. Pariatur aut quos quae maiores, velit
          expedita magnam.
        </li>
      </ol>

      <br /><br />
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque
        delectus veniam molestias ad amet ut, cupiditate accusantium iusto
        exercitationem error, assumenda saepe suscipit impedit atque obcaecati
        perferendis corporis, nobis harum! Consulte também o
        <a href="https://www.who.int/pt">site da OMS</a> para mais informações.
      </p>

      <br /><br /><br />
    </div>

    <footer
      class="d-flex flex-wrap justify-content-between align-items-center my-0 border-top"
    >
      <div class="col-md-4 d-flex align-items-center mx-3">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
        >
          <img
            src="assets/images/logo-pi22.png"
            alt="logo do projeto integrador"
            height="100px"
            width="100px"
          />
        </a>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-5">
        <p class="txtFooter">
          Agradecimentos: Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Voluptatum nisi voluptatem cumque ab maxime perspiciatis

          <br />
          Créditos: Ícones
          <a
            href="https://www.flaticon.com/free-icons/circular-economy"
            class="white-link"
            >Bioeconomia</a
          >
          ,
          <a
            href="https://www.flaticon.com/free-icons/forbidden"
            class="white-link"
            >Violência</a
          >
          ,
          <a
            href="https://www.flaticon.com/free-icons/healthcare"
            class="white-link"
            >Saúde</a
          >
        </p>
      </ul>
    </footer>

    <script src="../assets/js/bundle.js"></script>
  </body>
</html>
