<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Violência contra às mulheres</title>
    <link rel="icon" type="image/x-icon" href="assets/images/logo_if.png" />
    <script src="../assets/js/bundle.js"></script>

</head>

<body class="violen">
    <%- include('includes/violenHeader.ejs')%>

    <div class="container violen-container">

        <a href="/Glossario" target="_blank">
            <div class="topic">
                <div class="imgsd1"></div>
                <p class="parph">Glossário</p>
            </div>
        </a>

        <a href="/Apoio" target="_blank">
            <div class="topic">
                <div class="imgsd2"></div>
                <p class="parph">Rede de Apoio</p>
            </div>
        </a>

        <a href="/Infografico" target="_blank">
            <div class="topic">
                <div class="imgsd3"></div>
                <p class="parph">Infográfico</p>
            </div>
        </a>
    </div>

    
</body>

</html>