<h1>Composteira caseira: Custo dos materiais</h1>
<div class="tabela-composteira">
    
    <table class="table">
        <thead>
        <tr>
          <th scope="col">Materias</th>
          <th scope="col">Custo no mercado local</th>
        </tr>
      </thead>
      <tbody>
          <tr>
          <th scope="row">3 caixas de plástico (2,5 litros cada)</th>
          <td>R$ 15,87 cada (mercado livre)</td>
        </tr>
        <tr>
          <th scope="row">Terra vegetal preta (2,5 a 3,5 kg)</th>
          <td>R$ 5,00 (kg)(Centro de Jardinagem - Itapipoca)</td>
        </tr>
        <tr>
            <th scope="row">Minhocas californianas (100 unidades)</th>
            <td colspan="1">R$ 7,50 (kg)(Centro de Jardinagem - Itapipoca)</td>
        </tr>
    </tbody>
</table>
<img src="assets/images/composteira/materiais.jpeg" >

</div>

<br><br>
